@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
}

/* Header Style */

header {
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 70px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}

/* .logo {
    width: 120px;
    height: auto;
} */
nav {
    font-family: 'Russo One', sans-serif;
    max-width: 100%;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
}

nav ul {
    padding: 0;
    margin-left: 50px;
}

nav ul li {
    font-weight: 500;
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
    font-size: 1.2vw;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition-duration: 0.3s;
}

nav ul li:hover::after {
    width: 100%;
}

.button a{
    font-family: 'Russo One', sans-serif;
    background-color: red;
    border: none;
    color: white;
    padding: 8px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    margin: 18px 40px 18px 20px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
  }
  .button a:hover{
    background-color: rgb(253, 95, 95);
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
  }
.img-logo{
    max-width: 20%;
    height: auto;
    margin: 15px 5px 10px 40px;
    float: left;
}
.logo{
    margin: 0;
    padding: 0;
    width: 200px;
}
.logo h3{
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 23px 0px;
}
.title-E{
    font-size: 1.5vw;
}
#Home{
    height: 100vh;
    background: url(/images/Home-Background.png);
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 8px;
    
}
.content{
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 30%;
    color: #ffffff;
}
.content h2{
    font-size: 4vw;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1px;
    margin: 0 50px;
}
.content p{
    font-size: 1vw;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
    margin: 20px 50px;
    width: 60%;
}
.button2 {
    display: inline-block;
}
.button2 a{
    font-family: 'Russo One', sans-serif;
    background-color: red;
    border: solid red 1px;
    color: white;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    margin: 80px 20px 0px 50px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
  }
  .button2 a:hover{
    background-color: rgb(253, 95, 95);
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
    border: solid rgb(253, 95, 95) 1px;
  }
.button3 {
    display: inline-block;
}
.button3 a:hover{
    background-color: #fff;
    color: black;
    transition-duration: 0.5s;
}
.button3 a{
    font-family: 'Russo One', sans-serif;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    border: solid rgb(255, 255, 255) 1px;
    padding: 8px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    margin: 80px 0px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
  }

  .animation-area {
	width: 100%;
	height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 97%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 8s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
#Esport{
    padding: 50px 0;
    margin: 20px 50px;
    height: auto;
}
.Text{
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
}
.Text-Header-1 h4{
    font-size: 1.7vw;
    margin: 0;
}
.Text-Header-2 h4{
    margin: 0;
    margin-left: 7px;
    font-size: 1.7vw;    
    color: red;
    letter-spacing: 1px;
}
.Text-Header-3{
    margin-bottom: 100px;
    font-size: 1vw;
    font-family: 'Prompt', sans-serif;
}
.Text-Header-5{
    display: flex;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-size: 2vw;
}
.span-text{
    color: red;
}
.Text-Header-6 p{
    width: 50%;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 1vw;
    font-family: 'Prompt', sans-serif;
}
.img{
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.img-team-1{
    position: absolute;
    margin-left: 50rem;
    max-height: 100vh;
    max-width: 250px;
    transition: 0.7s ease-in-out;
    box-shadow: -8px 13px 18px 6px rgba(0, 0, 0, 0.5);
}
.img-team-1:hover{
    z-index: 9;
    margin-left: 700px;
    margin-top: -100px;
    max-height: 230px;
    max-width: 350px;
}
.img-team-2{
    position: absolute;
    max-height: 100vh;
    max-width: 250px;
    margin-left: 60rem;
    margin-top: -30px;
    transition: 0.7s ease-in-out;
    box-shadow: -8px 13px 18px 6px rgba(0, 0, 0, 0.5);
}
.img-team-2:hover{
    z-index: 9;
    max-height: 230px;
    max-width: 350px;
}
.img-team-3{
    position: absolute;
    max-height: 100vh;
    max-width: 250px;
    margin-left: 55rem;
    margin-top: 60px;
    transition: 0.7s ease-in-out;
    box-shadow: -8px 13px 18px 6px rgba(0, 0, 0, 0.5);
}
.img-team-3:hover{
    z-index: 9;
    max-height: 230px;
    max-width: 350px;
}
.Text-Header-3{
    text-align: center;
}
.diagonal-section {
    /* Used to position the diagonal area */
    height: 140vh;
    width: 100%;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/all-games.jpg);
    overflow: hidden;
}
.diagonal-section:after{
    content: '';
    background-color: #fff;
    display: block;
    width: 120%;
    height: 109px;
    left: -2;
    position: absolute;
    right: 0;
    bottom: -47px;
    transform: rotate(4deg);
}
.diagonal-section:before{
    content: '';
    background-color: #fff;
    display: block;
    width: 130%;
    height: 109px;
    left: -2;
    position: absolute;
    right: 0;
    top: -47px;
    transform: rotate(-4deg);
}
.Text-Title{
    color: #fff;
    padding-top: 100px;
    margin-right: 100px;
    letter-spacing: 7px;
    font-weight: 300;
    text-align: center;
    float: right;
    font-size: 2.3vw;
}
.img-trophy{
    display: flex;
    width: 100%;
    height: 100vh;
    color: #fff;
}
.img-esl{
    position: absolute;
    margin-top: 10px;
    margin-left: 130px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    transition: 0.7s ease-in-out;
    z-index: 1;
}
.img-esl:hover{
    height: 130px;
    width: 130px;
    margin-left: 115px;
    margin-top: -15px;
    box-shadow: 0px 0px 5px #fff;
}
.img-lec{
    position: absolute;
    margin-top: 320px;
    margin-left: 270px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    transition: 0.7s ease-in-out;
    z-index: 1;
}
.img-lec:hover{
    height: 130px;
    width: 130px;
    margin-left: 255px;
    margin-top: 290px;
    box-shadow: 0px 0px 5px #fff;
}
.img-league{
    position: absolute;
    margin-top: 100px;
    margin-left: 670px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    transition: 0.7s ease-in-out;
    z-index: 1;
}
.img-league:hover{
    height: 130px;
    width: 130px;
    margin-left: 655px;
    margin-top: 75px;
    box-shadow: 0px 0px 5px #fff;
}
.img-msi{
    position: absolute;
    margin-top: 390px;
    margin-left: 775px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    transition: 0.7s ease-in-out;
    z-index: 1;
}
.img-msi:hover{
    height: 130px;
    width: 130px;
    margin-left: 760px;
    margin-top: 360px;
    box-shadow: 0px 0px 5px #fff;
}
.text-esl{
    position: absolute;
    font-family: 'Russo One', sans-serif;
    font-weight: 100;
    font-size: 1vw;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 100px;
    margin-left: 85px;
    width: 150px;
    padding: 20px;
    z-index: 1;
}
.text-esl-1{
    position: absolute;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    font-size: 0.9vw;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 160px;
    margin-left: 145px;  
    color: yellow;
    z-index: 1;
}
.text-esl-2{
    position: absolute;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    font-size: 0.9vw;
    letter-spacing: 1px;
    text-align: justify;
    margin-top: 10px;
    margin-left: 240px;
    max-width: 300px;
    padding: 20px;
    z-index: 1;
}
.text-lec{
    position: absolute;
    font-family: 'Russo One', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 410px;
    margin-left: 225px;
    width: 150px;
    padding: 20px;
    z-index: 1;
    font-size: 1vw;
}
.text-lec-1{
    position: absolute;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 440px;
    margin-left: 225px;
    width: 150px;
    padding: 20px;
    color: yellow;
    z-index: 1;
    font-size: 0.9vw;
}
.text-lec-2{
    position: absolute;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: justify;
    margin-top: 320px;
    margin-left: 380px;
    max-width: 300px;
    padding: 20px;
    z-index: 1;
    font-size: 0.9vw;
}
.text-league{
    position: absolute;
    font-family: 'Russo One', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 200px;
    margin-left: 605px;
    width: 190px;
    padding: 20px;
    z-index: 1;
    font-size: 1vw;
}
.text-league-1{
    position: absolute;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 250px;
    margin-left: 625px;
    width: 150px;
    padding: 20px;
    color: yellow;
    z-index: 1;
    font-size: 0.9vw;
}
.text-league-2{
    position: absolute;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: justify;
    margin-top: 90px;
    margin-left: 780px;
    max-width: 300px;
    padding: 20px;
    z-index: 1;
    font-size: 0.9vw;
}
.text-msi{
    position: absolute;
    font-family: 'Russo One', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 490px;
    margin-left: 710px;
    width: 190px;
    padding: 20px;
    z-index: 1;
    font-size: 1vw;
}
.text-msi-1{
    position: absolute;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 525px;
    margin-left: 730px;
    width: 150px;
    padding: 20px;
    color: yellow;
    z-index: 1;
    font-size: 0.9vw;
}
.text-msi-2{
    position: absolute;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: justify;
    margin-top: 380px;
    margin-left: 880px;
    max-width: 300px;
    padding: 20px;
    z-index: 1;
    font-size: 0.9vw;
}
.Merch{
    display: flex;
    margin: 0;
    padding: 0;
}
.merch-title{
    width: 100%;
    height: 80vh;
    text-align: center;
    margin: 10px 0px;
    margin-bottom: 0px;
}
.head-merch{
    color: red;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.7vw;
}
.merch-title h4{
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.7vw;
}
.merch-cards{
    display: flex;
    margin: 30px 30px;
    justify-content: center;
}
.card-content {
    transition: 0.3s;
    height: auto;
    width: 200px;
    margin: 10px 20px;
}
.card-content img{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 180px;
    padding: 10px 0px;
    height: 200px;
    object-fit: cover;
    border: solid black 1px;
}
.card-content h4{
    font-size: 1.2vw;
}
.card-content img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 2px;
}
.Merch-button {
    display: inline-block;
}
.Merch-button a{
    font-family: 'Russo One', sans-serif;
    background-color: red;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    margin: 0px 20px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}
.Merch-button a:hover{
    background-color: rgb(253, 95, 95);
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
  }
#social{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 80vh;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/back-logo.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 8px;
}
.social-content{
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2vw;
}
.social-content span{
    color: red  ;
}
.social-side{
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
}
.social-side img{
    max-width: 500px;
    max-height: 40vh;
    margin-left: 170px;
    margin-top: 60px;
    border: 3px solid white;
}
.social-side h4{
    color: #fff;
    text-align: center;
    font-size: 1.5vw;
    letter-spacing: 2px;
    margin: 0;
}
.social-side span{
    color: red;
}
.social-side-text{
    align-items: center;
    margin-top: 100px;
    margin-left: 150px;
}
.social-side-text p{
    color: #fff;
    font-size: 0.9vw;
    font-weight: 100;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
    margin: 10px 0px;
    width: 300px;
}
.follow-button a{
    font-family: 'Russo One', sans-serif;
    background-color: red;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    margin: 20px 20px;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.follow-button a:hover{
    background-color: rgb(253, 95, 95);
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
  }

#links {
    width: 100%;
    padding-bottom: 20px;
    background-color: #170E15;
    font-family: 'Prompt',sans-serif; 
    height: 40vh;
}

.grid-container5 {
    width: 90%;
    margin: auto;
    align-items: center;
    display: grid;
    column-gap: 80px;
    grid-template-columns: 260px 260px 260px 260px;
    grid-template-rows: 300px;
}

.grid-item5 {
    text-align: start;
    font-size: 1vw;
    font-weight: 300;
}

.item-header {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}
.item-header1 {
    margin-top: -80px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}
.grid-item5 p {
    color: #fff;
    font-size: 1vw;
}
.grid-item5 ul {
    padding: 0;
    margin: 0;
    font-size: 1vw;
}

.grid-item5 ul li {
    list-style: none;
    padding: 10px 0;
}

.grid-item5 ul li a {
    text-decoration: none;
    color: #ffffff;
}

.fa {
    margin-right: 10px;
    font-size: 20px;
}

.grid-item5:nth-child(4) {
    align-items: center;
    justify-content: center;
    margin: auto;
}
.item-header2{
    margin-top: -50px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}
.footer p{
    font-size: 1vw;
    font-family: 'Prompt', sans-serif;
    color: #fff;
    background-color: #393638;
    text-align: center;
    margin: 0;
    padding: 0;
}